<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>

    <!-- Main jumbotron -->
    <div role="main" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Employee Management System</h1>
        <p>
          This page has been created to view and maintain employee records. Created using JavaScript, express, EJS views, and Bootstrap.
          Check out the source code or view the project from <a href="https://github.com/arhemminger/web-340/tree/master/ems">GitHub!</a>
        </p>
        <p>
          <a class="btn btn-primary float-right" href="#" role="button"
            >Learn more &raquo;</a>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Site content row of columns -->
      <div class="row">
        <div class="col-md-6" id="View">
          <h2>Employee Records</h2>
          <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.
          </p>
          <p>
            <a class="btn btn-secondary" href="#" role="button"
              >View records &raquo;</a>
          </p>
        </div>

      <form id="New">
        <h3>New Entry Form</h3>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName">Employee Name:</label>
            <input type="name" class="form-control" id="inputFirstName" placeholder="first name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName">Last Name:</label>
            <input type="name" class="form-control" id="inputLastName" placeholder="last name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputId">Employee ID:</label>
          <input type="number" class="form-control" id="inputId" placeholder="id">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="confirmCheck">
            <label class="form-check-label" for="confirmCheck">
              Add to employee records
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit Entry</button>
      </form>

    </div>

      <br><br>

      <h2>Featured Employees</h2>
      <div class="card-group" id="Featured">
        <div class="card">
          <img class="card-img-top" src="/images/Mal.JPG" alt="Malcolm Reynolds">
          <div class="card-body">
            <h5 class="card-title">Malcolm Reynolds</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Duis non nisl id mauris blandit egestas. Nulla facilisis aliquet
              lorem quis lacinia.
            </p>
            <p class="card-text"><small class="text-muted">Captian</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/Wash.jpg" alt="Hoban Washburn">
          <div class="card-body">
            <h5 class="card-title">Hoban Washburn</h5>
            <p class="card-text">
              Vestibulum metus turpis, viverra vel lobortisid, mattis non urna.
              Duis tincidunt, nisi mattis varius lobortis,
              odio augue blandit quam, nec sagittis mi urna non nulla.
            </p>
            <p class="card-text"><small class="text-muted">Pilot</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/Andrew.JPG" alt="Andrew Hemminger">
          <div class="card-body">
            <h5 class="card-title">Andrew Hemminger</h5>
            <p class="card-text">
              Curabitur tristique a nulla lobortis dictum. Pellentesque ipsum lacus, laoreet
              id faucibus scelerisque, pellentesque sit amet purus. Fusce mauris
              urna, scelerisque id porttitor et, auctor et ligula.
            </p>
            <p class="card-text"><small class="text-muted">Crew</small></p>
          </div>
        </div>
      </div>

      <br><br>

      <div class="container" style="width: 40%;">
          <% if (employees.length) { %>
            <h2>Employees</h2>
            <br />
            <a class="" href="/new">New Employee</a>
            <br />
            <table class="table table-hover">
              <thead class="bg-secondary">
              <tr>
                <th class="text-white">Name</th>
                <th class="text-white">Functions</th>
              </tr>
              </thead>
              <tbody>
              <% employees.forEach(function (entry) { %>
                <tr>
                  <td><%= entry.name %></td>
                  <td style="width: 10%; text-align: center;">
                    <a style="color: #555" href="/view/<%= entry.name %>">
                      <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <% }) %>
            </table>
          <% } else { %> No entries found. <a href="/new">Click here to add an employee entry ></a>
          <% } %>
          <br><br>
    </div>

    <% include footer %>

    <% include scripts %>
  </body>
</html>
